<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户评过的电影</title>

    <style>
        h2{
            text-align: center;
            font-family: Georgia, serif;
            font-weight: bold
        }
        li{
            list-style: none;
            text-align: center;
            {#display: inline-block;#}
        }
    </style>
</head>


<h2>您评价过下列电影：</h2>
<br/>
{% for dd in usermovietitle %}
    <li>
    <p>{{ dd }}</p>
    </li>

{%  endfor %}


<a href="{% url 'index' %}"><button style="height: 25px;align-content: center;margin-left: 650px" >返回主页</button></a>

</body>
</html>